{% extends 'base/base.html' %}
{% load static %}
{% block title %} Plag_Check {% endblock %}


{% block content %} 

            <div class="row">
                    <div class="col-6 main_section">
                            <h5>Welcome to</h5>
                            <h1> Plag_Mate</h1>
                            <span> Ensuring Academic <strong>Integrity</strong> <br>One Check at a<strong> Time</strong> </span><br>
                            <hr>
                            <a href="{% url 'login' %}" class="btn btn-info"> Student</a> &nbsp; <a href="{% url 'login' %}" class="btn btn-primary">Teacher</a>
                               
                    </div>
                    <div class="col-6">
                            <img src="{% static 'others/classroom3.png' %}" alt="">
                    </div>
            </div>

{% endblock %}